<h1>Question edit</h1>

<div class="row">
    <div class="col-md-4">
        <p>Guidelines for questions</p>
        <ul>
            <li>Make it a smart one.</li>
            <li>If your question has already been asked and answered, it will be
                deleted and referred to the previously answered question.</li>
        </ul>
    </div>
    <div class="col-md-8">
        <%= form_for @question do |f| %>
        <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control', placeholder: "Enter question title" %>
        </div>
        <div class="form-group">
            <%= f.label :body %>
            <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Ask away" %>
        </div>
        <div class="form-group">
            <%= f.label :resolved %>
            <%= f.check_box :resolved %>
        </div>
        <div class="form-group">
            <%= f.submit "Save", class: "btn btn-success" %>
        </div>
        <% end %>
    </div>
</div>
